
*body
{
font-family: Helvetica;
}
section
{
    display: flex;
}
#left,#right
{
    background-color: rgb(146, 184,112);
    text-align: center;
    height: 170px;
    width:50% ;
}
#banner,#footer
{
    background-color: rgb(100, 61,49);
    color: white;
    text-align: center;
    height: 80px;
    padding:5px; 
}
#leftBottom,#rightBottom
{
    background-color: rgb(146, 184,112);
    width: 50%;
    height: 450px;  
}
#ahref
{
    background-image: url(cukierki1.jpg);
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}
table,td
{
    border-width: 2px;
    border-style: dashed;
    border-color: green;
    margin: 30px;
    padding: 20px;
}
h1
{
    letter-spacing: 20px;
    font-size: 250%;
}