body
{
    font-family: Verdana;
    text-align: center;
}
#banner
{
  background-color: darkgreen;  
  padding: 5px;
  color: white;
}
section
{
    clear: both;
    display:flex;
    background-color:  PaleGreen;
}
#left
{
    background-color:  PaleGreen;
    height: 500px;
    width: 30%;
}
#right
{
    background-color:Honeydew;
    width: 70%;
    height: 500px;
    padding-top: 100px;
}
#footer
{
    background-color: palegreen;
    padding: 3px;
}
td,table
{
    border: 1px;
    border-style: solid;
    border-color:darkgreen;
    border-collapse: collapse;
}
table
{
    margin:auto;
    width:95%;
}
tr,th
{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:0px;
    padding-right:0px;
}
button
{
    background-color:DarkGreen;
    color:white;
    padding:5px;
}
button:hover
{
    background-color: honeydew;
    color:darkgreen;
}
#menu
{
    background-color: palegreen;
}